.content{
    margin: 20px;
    
    width: 100%;
}
.formulario{
    
    width: 400px;
    position: absolute;
    padding: 30px;
    border: 1px solid;
    box-shadow: 10px 10px;
    button{
        margin-left: 20px;
    }
}